<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="book">
  <ion-item>
    <ion-icon color="danger" aria-hidden="true" name="person-circle" ></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ book.title | uppercase }}
        <span class="date">
          <ion-note>{{ book.publicationYear }}</ion-note>
        </span>
      </h2>
      <h3>{{book.author}}</h3>
    </ion-label>
  </ion-item>
  
  <div class="ion-padding">
    <ion-card *ngIf="book">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
      </ion-card-header>
    
      <ion-card-content>
        {{ book.description }}  
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
