<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img class="logo" src="/assets/img/logo.png"/>
    </ion-title>
    <button class="button" slot="end" (click)="goCreate()">
      <ion-icon  name="add" ></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        The Fantasy Corner
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <app-book *ngFor="let book of getBooks()" 
    [book]="book"
    ></app-book>
  </ion-list>
</ion-content>