.logo {
    max-width: 100%;
    height: auto;
  }
  
  /* Media query per aggiustare la dimensione del logo su schermi più piccoli */
  @media (max-width: 768px) {
    .logo {
      max-width: 70%; /* Puoi regolare la percentuale in base alle tue esigenze */
    }
  }

  .iconplus{
    border: 1px;
    display: flex;
    font-size: 30px;
  }

